{% extends "layout.html" %}
{% block content %}
    <body class="mt32">
    <div class="container">
        <h3>
            <input  type="text" placeholder="Search..." class="form-control" id="myInput" onkeyup="myFunction()"/>
        </h3>
        <table id="myTable" class="table table-hover table-striped mt32 customers-list">
            <thead>
            <tr>
                <th>Unit Code</th>
                <th>Unit Name</th>
                <th>Adm No</th>
                <th>Student Name</th>
                <th>Cat 1</th>
                <th>Cat 2</th>
                <th>Main Exam</th>
                <th>Total</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.unit_code }}</td>
                    <td>{{ post.unit_name }}</td>
                    <td>{{ post.admission_number }}</td>

                    <td class="text-white" data-toggle="popover" title="{{ post.student.student_name }}"
                        data-content="<{{ post.student.admission_number }}">
                        <a href="{{ url_for('student_results', admission_number=post.student.admission_number) }}">
                            {{ post.student.student_name }}
                        </a>
                    </td>

                    <td>{{ post.cat_1 }}</td>
                    <td>{{ post.cat_2 }}</td>
                    <td>{{ post.main_exam }}</td>
                    <td>{{ post.total }}</td>
                    <td>{{ post.grade }}</td>
                </tr>
                <script>
                    $(document).ready(function() {
                        $('[data-toggle="popover"]').popover({
                            placement: 'top',
                            trigger: 'hover'
                        });
                    });

                </script>
            {% endfor %}

            </tbody>
        </table>

    </div>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    </body>
{% endblock content %}