{% extends "layout.html" %}
{% block content %}
    <div style='display: flex; justify-content: center;'>
        <a href="#">
            <img src="https://www.nps.gov/common/uploads/stories/images/nri/20160426/articles/5097608B-1DD8-B71B-0BB1933DB95CC94C/5097608B-1DD8-B71B-0BB1933DB95CC94C.jpg" onmouseover="this.src='https://www.nps.gov/common/uploads/stories/images/nri/20151216/articles/C6E16F5A-1DD8-B71B-0BAB45B9358DD9C8/C6E16F5A-1DD8-B71B-0BAB45B9358DD9C8.jpg'" onmouseout="this.src='https://www.nps.gov/common/uploads/stories/images/nri/20160426/articles/5097608B-1DD8-B71B-0BB1933DB95CC94C/5097608B-1DD8-B71B-0BB1933DB95CC94C.jpg'" />
        </a>
    </div>
    <!--div style='display: flex; justify-content: center;'>
        <a href="#">
            <img src="https://www.nps.gov/common/uploads/stories/images/nri/20160426/articles/5097608B-1DD8-B71B-0BB1933DB95CC94C/5097608B-1DD8-B71B-0BB1933DB95CC94C.jpg" class="pics" data-alt-src="https://www.nps.gov/common/uploads/stories/images/nri/20151216/articles/C6E16F5A-1DD8-B71B-0BAB45B9358DD9C8/C6E16F5A-1DD8-B71B-0BAB45B9358DD9C8.jpg" alt="city vs. nature">
        </a>
    </div-->

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- rollover -->
    <script lang="javascript" type="text/javascript" src="/static/rollover.js"></script>
{% endblock content %}