{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Student</h4>
                        <p class="card-category">Enter Student Details</p>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.full_name.label(class="bmd-label-floating text-white" ) }}
                                        {{ form.full_name(class="form-control bg-transparent text-white", type="text", id="fname", onblur="myFunction()") }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.admission_number.label(class="bmd-label-floating text-white" ) }}
                                        {{ form.admission_number(class="form-control bg-transparent text-white", type="text", id="fname", onblur="myFunction()") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.email.label(class="bmd-label-floating text-white" ) }}
                                        {{ form.email(class="form-control bg-transparent text-white", type="email") }}
                                    </div>
                                </div>
                            </div>

                            <!--button type="submit" >Update Profile</button-->
                            {{ form.submit(class="btn btn-primary ") }}
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}