<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="form-group">
            <input name="list['+x+'][]" type="text" placeholder="Type Item Name" class="form-control"/>
        </div>
    </div>

    <div class="col-xs-7 col-sm-7 col-md-7">
        <div class="form-group">
            <input name="list['+x+'][]" type="text" placeholder="Type Item Quantity" class="form-control"/>
        </div>
    </div>

    <div class="col-xs-1 col-sm-7 col-md-1">
        <a href="javascript:void(0);" class="list_remove_button btn btn-danger">-</a>
    </div>
</div>

