.glow {
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'century gothic';
    color: #ffffcc;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 20px green,
                 0 0 30px green,
                 0 0 40px green,
                 0 0 55px green,
                 0 0 70px green;
}